<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andi Susanto">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>

    <div class="container">
      {{ content }}
    </div>

    <footer>
      <ul>
        <li><a href="mailto:andi.xusanto@gmail.com">Email</a></li>
        <li><a href="https://github.com/and1zero">Github</a></li>
        <li><a href="https://www.linkedin.com/in/andisusanto">Linkedin</a></li>
      </ul>
    </footer>

    {% include analytics.html %}
  </body>
</html>
