<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Andi Susanto">
    <title>{{ page.title }} | Andi Susanto</title>

    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>

  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name"></h1>
      <h2 class="project-tagline">Doing all the wrong things for the right reasons</h2>
      
      <a href="/" class="btn">Home</a>
      <a href="/blog" class="btn">Blog</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits" style="text-align: center;">
            <a href="mailto:andi.xusanto@gmail.com">Email</a>
            <a href="https://github.com/and1zero">Github</a>
            <a href="https://www.linkedin.com/in/andisusanto">Linkedin</a>
        </span>
      </footer>
    </main>

    {% include analytics.html %}
  </body>
</html>
