<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">10</h1>
      <h2 class="project-tagline">Sometimes doing the wrong things for the right reasons</h2>
      
      <a href="/" title="Home" class="btn">Home</a>
      <a href="/blog" title="Blog" class="btn">Blog</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div class="site-footer-credits" style="text-align: center;">
            <a href="mailto:andi.xusanto@gmail.com" title="Email">Email</a>
            | <a href="https://github.com/and1zero" title="GitHub">GitHub</a>
            | <a href="https://www.linkedin.com/in/andisusanto" title="LinkedIn">LinkedIn</a>
        </div>
      </footer>
    </main>
  </body>
</html>
